---
import Layout from "../layouts/Layout.astro";
import Title from "../components/title.astro";
import SubTitle from "../components/sub-title.astro";
import Contact from "../components/contact.astro";
---

<Layout title="Home">
  <div
    class="grid w-full min-h-dvh justify-center content-center gap-4 lg:gap-5 xl:gap-6 *:text-center *:select-none"
  >
    <Title />
    <SubTitle />
    <Contact />
  </div>
</Layout>
